body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

div {
    /* display: flex; */
    justify-content: center;
}

h1 {
    padding-top: 20px;
    padding-right: 20px;
}

img {
    display: inline;
    padding: 10px;
}

.dm-sans-title {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.scrollable-div {
  /* Set a fixed height for the div */
  height: 200px; /* Adjust as needed */

  /* Add overflow property to make content scrollable */
  overflow: auto; /* or overflow: scroll; */
}


/* Code for header in 310 project */
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
 
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
  }
  
  li a:hover {
    background-color: #111;
    color: white;
  }

  th, td {
    border: 1px solid;
    padding: 8px;
  }

  table {
    border-collapse: collapse;
  }

  #tree {
    height: 100px;
  }

button {
    background-color: #3b2eb2;
    color: white;
    padding: 12px 20px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;  
    border-radius: 30px;  
  }

  button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

